<label>Supplier</label>
<input type="text" name="supplier" value="<%= supplier.supplier %>">
<br>
<label>docType</label>
<input type="text" name="docType" value="<%= supplier.docType %>">
<br>
<label>supStatus</label>
<input type="text" name="supStatus" value="<%= supplier.supStatus %>">
<br>
<label>createdBy</label>
<input type="text" name="createdBy" value="<%= supplier.createdBy %>">
<br>
