<h2 class="page-header">Edit supplier</h2>
<form action="/suppliers/<%= supplier.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a class="btn btn-primary" href="/suppliers/<%= supplier.id %>">Cancel</a>
    <button  class="btn btn-primary" type="submit">Update</button>
</form>