<h2 class="page-header">Suppliers</h2>
<form action="/suppliers" method="GET">
    <label>Supplier</label>
    <a href="/suppliers/new">Add supplier</a>
    <input type="text" name="supplier" value="<%= searchOptions.supplier %>">
    <button type="submit">Search</button>
</form>
<br>
<% suppliers.forEach( supplier => { %> 
    <div><a href="/suppliers/<%= supplier.id %>"><%= supplier.supplier %></a></div>
<% }) %> 