<form action="/suppliers" method="GET">
    <div class="form-row form-row-end">
        <a class="btn btn-primary" href="/suppliers/new">Add supplier</a>    
    </div>
    <div class="form-row form-row-end btn-row">
        <input type="text" name="supplier" value="<%= searchOptions.supplier %>">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
</div>
<h2 class="page-header">Suppliers</h2>
<% suppliers.forEach( supplier => { %>
    <div class="category-row category-name">
        <a href="/suppliers/<%= supplier.id %>"><%= supplier.supplier %></a>
    </div>
<% }) %> 