<header>
    <nav class="header-nav">
        
        <a class="header-title" href="/"><img src="/img/pricetag32.png" alt="EXA Price List">EXA Price List</a>
        <ul>
            <li><a href="/products">Products</a></li>
            <br><b>Settings</b>
            <li><a href="/suppliers">Suppliers</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>
</header>