<div class="form-row">
    <div class="form-item">
        <label>Category *</label>
        <input type="text" name="category" value="<%= category.category %>">
    </div>
    <div class="form-item">
        <label>c_ClaveProdServ *</label>
        <input type="text" name="c_ClaveProdServ" value="<%= category.c_ClaveProdServ %>">
    </div>
</div>
<div class="form-row form-row-end">
    <label>catStatus: <%= category.catStatus %></label>
</div>
<div class="form-row form-row-end">
    <label>createdBy: <%= category.createdBy %></label>
</div>
