<h2 class="page-header">Categories</h2>
<a href="/categories/new">Add category</a>
<br>
<% categories.forEach( category => { %> 
    <div><a href="/categories/<%= category.id %>"><%= category.category %></a></div>
    <div><%= category.c_ClaveProdServ %> </div>
<% }) %> 