<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" href="/categories/new">Add category</a>
</div>

<h2 class="page-header">Categories</h2>

<% categories.forEach( category => { %> 
    <div class="category-row category-name">
        <a href="/categories/<%= category.id %>"><%= category.category %></a>
        <%= category.c_ClaveProdServ %>
    </div>
<% }) %> 