<h2 class="page-header">New category</h2>
<form action="/categories" method="POST">
    <%- include('_form_fields') %>
    <a href="/categories">Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
</form>