:root {
    --product-image-width: 200px;
    --product-image-width-large: 325px;
    --product-image-aspect-ratio: 0.75;
}

.product-details {
    display: flex;
}

.product-details-label {
    font-weight: 500;
    align-self: flex-start;
}

.product-details-label-description {
    white-space: pre-wrap;
}

.product-details-grid {
    font-size: 1.5rem;
    font-weight: 200;
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    margin-left: 2rem;
    grid-template-columns: auto auto;
}
