<h2 class="page-header">New product</h2>
<form action="/products" method="POST">
    <%- include('_form_fields') %>
    <a class="btn btn-primary" href="/products">Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
</form>